@import "../base/variables";
@import "../header/before_menu";
@import "../header/index";
@import "../components/bookingbox/vertical";
@import "../footer/index";


.parallax-container{
    background-image: url("/assets/img/banners/process.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    > div{
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            color: white;
            text-align: left;
        }
    }
}

div.general-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 25px;
    padding-top: 35px;
    padding-bottom: 50px;
    > div.left{
        display: flex;
        flex-direction: column;
        gap: 15px;
        > div#map{
            width: 100%;
            min-height: 300px;
            border-radius: 8px;
        }
        > div.bookingbox-parent{    
            display: flex;
            flex-direction: column;
            gap: 15px;
            div#toggle-bookingbox-div{
                &.hidden{
                    display: none;
                }
            }
            > button{
                cursor: pointer;
                display: flex;
                padding: 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;
                border-radius: 4px;
                background: #67B952;
                border: 1px solid #67B952;
                color: white;
            }
        }        
    }
    > div.right{
        display: flex;
        flex-direction: column;
        gap: 15px;
        > div.top{
            h2{
                font-size: 16pt;
            }
            p{
                color: #425466;
            }
            > div.error{
                display: flex;
                padding: 24px;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                border-radius: 15px;
                background: #FDC90D;
                color: #16161d;
                > p{
                    color: #16161d;
                }
                > h2{
                    width: 80%;
                    font-size: 20pt;
                    text-align: center;
                    font-weight: normal;
                    @media (max-width: 500px) { 
                        font-size: 16pt;
                    }
                }
                > div{
                    display: flex;
                    gap: 15px;
                    > a{
                        display: flex;
                        padding: 17px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 8px;
                        transition: all 0.3s;
                        &:hover{
                            transform: scale(1.03);
                        }
                    }
                    > a:nth-child(1){
                        background-color: #16161d;
                        color: white;
                        > svg{
                            fill: white;
                        }
                    }
                    > a:nth-child(2){
                        border: 1px solid #16161d;
                        color: #16161d;
                    }
                    > a:nth-child(3){
                        border: 1px solid #16161d;
                        color: #16161d;
                    }
                    > a:nth-child(4){
                        border: 1px solid #16161d;
                        color: #16161d;
                    }
                    @media (max-width: 767px) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        text-align: center;
                    }
                    @media (max-width: 450px) {                        
                        grid-template-columns: 1fr;                        
                    }
                }                
            }
        }
        > div.bottom{
            display: flex;
            flex-direction: column;
            gap: 15px;
            > div.item{
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                grid-column-gap: 15px;
                border-bottom: 1px solid #FDC90D;
                padding-bottom: 15px;
                padding-top: 15px;
                > div.one{                
                    img{
                        width: 100%;
                        height: auto;
                    }
                    > div{
                        > h3{
                            margin-bottom: 8px;
                        }
                        > p{
                            display: flex;
                            gap: 8px;
                            color: #425466;
                            &::before{
                                content: "";
                                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAARCAYAAAAi5qlcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFxSURBVHgB7dbPTcMwFAbwzy8tF/6IDZqyAD0h9VaYBBahhQUYgXYDNmhvFT2VCcgQICFK/HgJTZWEpHFIkUB6nxTJsuyfnLxYNqDRaErCj0d34eLwHjuKet9jSifPj31L4XPUJrvqmv5bgCaLUS8oGkdlQIhwlLSt1x6iYdQrTuEOSFcvSZO/Qr1yLy7A+2K/RyH1GOyTZzpgDKTbz40NZPAytPxkyCytscHe2euyaAHquXtmNT8YEJkpfhBr+bzdf5ml+9Sr51EESuMGNRPNyS8minr1vM0ZIJUcSSWdDp/15NG2Meq5eaYu4rIY9dy9zDWUPX5ARVr4GMMx6lV7mQIQk4+qmPYpHKNetZfdAZZ7qMgKtgvHqCcX0q+n1MsUwBA21WHmWXxNsl6XLSZJv0fk/Ef8I084nqa8MdYfrqF3Id7JNq+VR6IXY0b+ynUpB8zYGAyF8VEjf9yLP5R4tznvSryJeNfideCeXXua384nv2VCHv6Wp4gAAAAASUVORK5CYII=');
                                width: 95px;
                                height: 20px;
                                background-repeat: no-repeat;
                            }
                        }
                        ul{
                            margin: 0px;
                            padding: 0px;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            gap: 6px;
                            li{
                                color: #425466;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                            }
                            li:nth-child(1)::before{
                                content: "";
                                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAYAAAArK+5dAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFGSURBVHgB5ZNNUoNAEIVfT+HGVY4QbxA9AfEE+LeWDZa74AmsnMC4U+OGrZoKHkDhCLmBHIF9zLRDSiQhBIfAIpaviqqeN9PzMT09wF8X5Y3D04trZXfeX+6PFn3zzOkQ40ZAYEbyKnweTqAhUYC0AbZM67K9vJDGBDIZbCYxNLUCYMmv8wlD2ks+cysboIWNAcT+d9hLypLtSf2FZbfQFBWZ3RNnQEQ9FcYk4L49PXiJb1ru/M9DfxCjDiAHSVdGPzEjVkedyBn1Q/8uwiaAROaxY5MQ56Qudk12JKeiWwYpBaRSrctYv0MpRKCGmKWnytUWOzLIt3UjgGD0aP8GqQVYgRhy3Dggg3DyNrz8nIGGFIyGbpHfyAnKVAkgP8Ve8lXJqVSitNfVu9DO2a4SbSVA6w6Y8JEbR9CUHmC6e5Ab7+Pf6Au3/X0mBu4aGwAAAABJRU5ErkJggg==');
                                width: 20px;
                                height: 23px;
                                background-repeat: no-repeat;
                            }
                            li:nth-child(2)::before{
                                content: "";
                                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAYAAAArK+5dAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEiSURBVHgB7ZXBTcNAEEX/rB2Jo+kgdBLSAD6Qc24WN7sDIipwbghKyCUUAKQTQgXsCSFF8WeDZLBsZ9dZEFKiPMny2jM7f0aeHQNHHIjNOBwlL+X6aXZ31tVWJYQNou9lq9BawSDOIhW+p2Y5qXgutwmISLZeycNifrt0Cgziq77qFc9dM6wmUKzUeV1ENfyCYrJz8A1mjwp4XX+tmpnwAr4IY6eAQCL4EzkF/pr9F7AeNFKmXEtu85GAmQhTLwGzUUuPr+WzGQms+wwvE22LYR8V2GQm4+9go+RHHMwfZ/dTOHAImJYlWtuWkFN0IIQ3TE1FY/OhIttQ/oVAWZ114h/iQSP4Bn90BwG5+bq1Xy4abbv1jwZ87DhVT/Rinmv8N5/vhVlAuRpjFAAAAABJRU5ErkJggg==');
                                width: 21px;
                                height: 24px;
                                background-repeat: no-repeat;
                            }
                        }
                        @media (max-width: 767px) {
                            align-self: center;
                        }
                    }
                    @media (max-width: 767px) {
                        display: grid;
                        grid-template-columns: 200px 1fr;
                    }
                    @media (max-width: 400px) {
                        display: grid;
                        grid-template-columns: 1fr
                    }
                }
                > div.two{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: #425466;
                    ul{
                        margin: 0px;
                        margin-top: 15px;
                        padding-left: 15px;
                        li{
                            line-height: 1.5;
                        }
                    }
                }
                > div.three{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-left: 1px solid #DDE5FD;
                    padding-left: 25px;
                    > div.top{
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        gap: 0px;
                        p:nth-child(1){
                            color: #425466;
                            font-size: 9pt;
                        }
                        p:nth-child(2){
                            color: #912211;
                            text-decoration: line-through;
                            @media (max-width: 767px) {
                                font-size: 14pt;
                            }
                        }
                        p:nth-child(3){
                            color: #16161D;
                            font-size: 17pt;
                            font-weight: bold;
                            text-align: right;
                            @media (max-width: 767px) {
                                font-size: 20pt;
                            }
                        }
                        p:nth-child(4){
                            color: #425466;
                            font-size: 9pt;
                        }
                    }
                    > form{
                        display: flex;
                        > button{
                            display: flex;
                            padding: 16px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            align-self: stretch;
                            border-radius: 4px;
                            background: #67B952;
                            border: 1px solid #66a656;
                            color: white;
                            cursor: pointer;
                            width: 100%;
                        }
                    }
                    @media (max-width: 767px) {
                        gap: 15px;
                        border-left: 0px;
                        padding-left: 0px;
                    }
                }
                @media (max-width: 767px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-row-gap: 15px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }
}


div.large{
    height: 800px;
}